--exclude **/Pods, **/*generated.swift

--elseposition "same-line"
--header ""
--patternlet "hoist"
--semicolons "never"
--importgrouping "testable-bottom"
--operatorfunc "spaced"
--commas "always"
--trimwhitespace "nonblank-lines"
--wrapparameters after-first
--wraparguments before-first
--wrapcollections before-first
--closingparen same-line
--maxwidth "180"

--indent "4"
--tabwidth "unspecified"
--indentcase "false"
--xcodeindentation "disabled"

--disable andOperator
--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable fileHeader
--enable hoistPatternLet
--enable indent
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--disable numberFormatting
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--disable redundantRawValues
--enable redundantReturn
--disable redundantSelf
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable specifiers
--disable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--disable unusedArguments
--enable void
--enable wrap
--enable wrapArguments
--enable yodaConditions